[SddmGreeterTheme]
Name=milk
Description=Inspired by the game Milk Inside a Bag of Milk Inside a Bag of Milk by Nikita Kryukov
Author=Andrés "mixedCase" Rodríguez, Gagandeep "lll2yu" Singh, rbrtc
Copyright=(c) 2016, Andrés Rodríguez, (c) 2019, Gagandeep Singh, (c) 2026, rbrtc
License=CC-BY-SA
Type=sddm-theme
Version=1.0.0
Website=https://gitlab.com/mixedCase/sddm-lain-wired-theme, https://github.com/lll2yu/sddm-lain-wired-theme, https://github.com/rbrtc/sddm-milk-theme
MainScript=Main.qml
Theme-Id=milk
Theme-API=2.0
QtVersion=6
